<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Autor:</p>
    <img src="http://i.stack.imgur.com/IQxmJ.png?s=128" /><br />
    <a href="http://gis.stackexchange.com/users/4972">Germán Carrillo</a>
  </body>
</html>

