<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Bienvenidos a <%= title %></h3>
    ¡El portal donde podrás crear tus propios juegos!
    <p><a href="/quizes">Comienza a jugar</a></p>
  </body>
</html>
